.container {
  padding-right: 2rem;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.linksContainer a {
  margin-right: 12px;
  padding: 16px 0 16px;
}

a.link:hover {
  color: #249754;
}

@media (max-width: 600px) {
  .container {
    padding-right: 0;
  }
}
