.callout {
  display: flex;
  align-items: center;
  background: var(--highlight-opaque);
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.callout > * {
  padding: 0;
  margin: 0;
}
