.card {
  background-color: #1f4031;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.cardHeader {
  display: flex;
}
.cardHeader h3 {
  padding-left: 8px;
}
