a.link:hover {
  color: #249754;
}

.email {
  background-color: transparent;
  border: none;
  color: #25af5f;
}

.email:hover {
  cursor: pointer;
  color: inherit;
}

.copied {
  padding-left: 16px;
  font-style: italic;
}
