.code {
  background-color: color-mix(in srgb, var(--dark-accent) 5%, transparent);
  padding: 1rem;
}

.code > code[class^="language-"] {
  font-weight: bold;
  line-height: 1.6;
  font-size: 1rem;
}

.callout {
  display: flex;
  align-items: center;
  background: var(--highlight-opaque);
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.callout > * {
  padding: 0;
  margin: 0;
}
