.page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
  background-color: transparent;

  align-items: center;
}

.card {
  width: 100%;
}

.card_inner {
  border: 3px solid var(--highlight);
  padding: 1rem;

  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.card_inner:hover {
  background-color: var(--highlight);
}

.card_inner:hover > * {
  color: var(--contrast);
}

.title {
  font-weight: 500;
  padding-bottom: 1rem;
  line-height: 1.5;
  color: var(--normal);
}

.date {
  text-align: right;
  font-style: italic;
  color: var(--normal);
}

@media screen and (min-width: 400px) {
  .card_inner {
    border: 5px solid var(--highlight);
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .card_inner {
    border: 1px solid var(--normal);
    padding: 1rem;
  }
}
