.pageOuterContainer {
  /* bring min-height to 90vh once the theme switcher is back*/
  min-height: 100vh;
  max-height: fit-content;
  width: 100vw;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageInnerContainer {
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .pageInnerContainer {
    flex-direction: column;
  }
}
