.pageLayout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .pageLayout {
    padding: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .pageLayout {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .pageLayout {
    padding-top: 6rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 10rem;
  }
}
