.page {
  display: flex;
  flex-direction: column;
}

.yapSection,
.blogSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.blogSection {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-color: var(--main-brand);
  scrollbar-width: thin;
  /* background-color: gold; */
}

@media screen and (min-width: 400px) {
  .blogSection {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-areas: "about posts";
    grid-template-columns: 1fr 2fr;
  }

  .yapSection {
    grid-area: about;
  }

  .blogSection {
    grid-area: posts;
    padding: 2rem;
    border: 10px solid var(--highlight);
  }
}
