.yapSection,
.projectsSection,
.contactsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.projectsSection {
  overflow-y: scroll;
}

.contactsSection {
  justify-content: center;
  align-items: center;
}
