.page {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.yapSection,
.blogSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.blogSection {
  overflow-y: scroll;
  scrollbar-color: var(--main-brand);
  scrollbar-width: thin;
  /* background-color: gold; */
}

@media screen and (min-width: 1024px) {
  .page {
    display: grid;
    grid-template-areas: "about posts";
    grid-template-columns: 1fr 2fr;
    padding: 0;
  }

  .yapSection {
    grid-area: about;
    margin-bottom: 0;
  }

  .blogSection {
    grid-area: posts;
    padding: 2rem;
    border: 7px solid var(--highlight);
    max-height: 80vh;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    grid-template-columns: minmax(auto, 500px) minmax(auto, 800px);
    justify-content: center;
  }

  .blogSection {
    max-height: 80vh;
  }
}
