:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  /* code style in posts */
  --sh-class: #b1ed1c; /* Brighter blue for class */
  --sh-identifier: #6cdd7a; /* Lighter blue for identifiers */
  --sh-sign: #cdd3de; /* Lighter gray to ensure signs are visible */
  --sh-property: #3182ce; /* Brighter blue for properties */
  --sh-entity: #2db1bc; /* Lighter teal for entities */
  --sh-jsxliterals: #939dfd; /* Lighter purple for JSX literals */
  --sh-string: #26dabd; /* Lighter teal for strings */
  --sh-keyword: #1d9829; /* Brighter red for keywords */
  --sh-comment: #cbc3c3; /* Lighter gray for comments */

  /* Typography */
  --accent: #c9ffe4;
  --normal: #99c3ae;
  --dark-accent: #133f31;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link:hover {
  color: #249754;
}

.icon {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
