.w100 {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex p + a {
  padding-left: 8px;
  color: #25af5f;
}

.flex p + a:hover {
  color: inherit;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

/* MARGIN */

.m0 {
  margin: 0;
}

.ml4 {
  margin-left: 4px;
}

/********************** PADDING */

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl8 {
  padding-left: 0.6rem;
}

.pr8 {
  padding-right: 8px;
}

.p16 {
  padding: 1rem;
}

.pr16 {
  padding-right: 1rem;
}

.pb16 {
  padding-bottom: 1rem;
}

.pt16 {
  padding-top: 1rem;
}

.pl16 {
  padding-left: 1rem;
}

.pr32 {
  padding-right: 2rem;
}
