.flex {
  display: flex;
  align-items: center;
}

.flex p + a {
  padding-left: 8px;
  color: #25af5f;
}

.flex p + a:hover {
  color: inherit;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

/* PADDING */

.p16 {
  padding: 1rem;
}

.pr16 {
  padding-right: 1rem;
}

.pb16 {
  padding-bottom: 1rem;
}

.pt16 {
  padding-top: 1rem;
}

.pl16 {
  padding-left: 1rem;
}

.pr32 {
  padding-right: 2rem;
}
