:root {
  --accent: #007bff;
  --normal: #0b3220;
  --contrast: #fdfdfd;
  --highlight: rgb(24, 187, 100);
  --highlight-opaque: rgb(19, 192, 94, 0.24);
  --highlight-opaque-2: rgba(19, 192, 94, 0.11);

  /* 🎨 Syntax Highlighting for Light Mode */
  --sh-class: color-mix(in srgb, var(--highlight) 80%, black);
  --sh-identifier: color-mix(in srgb, var(--normal) 70%, white);
  --sh-sign: color-mix(in srgb, var(--accent) 70%, gray);
  --sh-property: color-mix(in srgb, var(--normal) 60%, var(--accent));
  --sh-entity: color-mix(in srgb, var(--highlight) 60%, var(--contrast));
  --sh-jsxliterals: color-mix(in srgb, var(--accent) 50%, var(--contrast));
  --sh-string: color-mix(in srgb, var(--accent) 50%, var(--normal));
  --sh-keyword: color-mix(in srgb, var(--normal) 90%, red);
  --sh-comment: color-mix(in srgb, var(--normal) 50%, var(--contrast));
}
/*
/* Automatic Dark Mode */
@media (prefers-color-scheme: light) {
  :root {
    --accent: #007bff;
    --normal: #0b3220;
    --contrast: #fdfdfd;
    --highlight: rgb(24, 187, 100);
    --highlight-opaque: rgb(19, 192, 94, 0.24);
    --highlight-opaque-2: rgba(19, 192, 94, 0.11);
  }
}

/* 🌙 Manual Dark mode */
[data-theme="dark"] {
  --accent: #00b3ff;
  --normal: #8fc2a9;
  --contrast: #07160d;
  --highlight: rgb(24, 187, 100);
  --highlight-opaque: rgb(19, 192, 94, 0.24);
  --highlight-opaque-2: rgba(19, 192, 94, 0.11);
}

/* Light Mode manual */
[data-theme="light"] {
  --accent: #007bff;
  --normal: #0b3220;
  --contrast: #fdfdfd;
  --highlight: rgb(24, 187, 100);
  --highlight-opaque: rgb(19, 192, 94, 0.24);
  --highlight-opaque-2: rgba(19, 192, 94, 0.11);

  /* 🎨 Syntax Highlighting for Light Mode */
  --sh-class: color-mix(in srgb, var(--highlight) 80%, black);
  --sh-identifier: color-mix(in srgb, var(--normal) 70%, white);
  --sh-sign: color-mix(in srgb, var(--accent) 70%, gray);
  --sh-property: color-mix(in srgb, var(--normal) 60%, var(--accent));
  --sh-entity: color-mix(in srgb, var(--highlight) 60%, var(--contrast));
  --sh-jsxliterals: color-mix(in srgb, var(--accent) 50%, var(--contrast));
  --sh-string: color-mix(in srgb, var(--accent) 50%, var(--normal));
  --sh-keyword: color-mix(in srgb, var(--normal) 90%, red);
  --sh-comment: color-mix(in srgb, var(--normal) 50%, var(--contrast));
}

body {
  background-color: var(--contrast);
  transition: background-color 0.6s ease, color 0.6s ease;
}
