.h1,
.h2,
.h3,
.aboutTitle,
.blogTitle {
  line-height: 1.3;
  letter-spacing: 1px;
}

.h1 strong,
.h2 strong,
.h3 strong,
.p strong {
  color: color-mix(in srgb, var(--accent) 50%, var(--normal) 50%);
}

.h1,
.h2,
.h3 {
  color: var(--accent);
  padding-bottom: 1.2rem;
}

.aboutTitle {
  color: var(--about-title);
}

.blogTitle {
  color: var(--blog-title);
}

.blogPostTitle,
.blogPostH1,
.blogPostH2,
.blogPostH3,
.blogPostParagraph {
  color: var(--normal);
  padding-bottom: 1.2rem;
  margin-bottom: 1rem;
}

.h1,
.aboutTitle,
.blogTitle {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding-bottom: 1.875rem;
}

.h2 {
  font-size: 1.75rem;
  padding-bottom: 1.25rem;
}

.h3 {
  font-size: 1.6rem;
  padding-bottom: 0.938rem;
}

.p {
  font-size: 1.3rem;
}

.summary {
  font-size: 1.1rem;
}

.summary,
.p {
  line-height: 1.5;
  color: var(--normal);
}

.tar {
  text-align: right;
}

.h1 > .icon {
  padding-right: 1rem;
}

.aboutParagraph {
  font-size: 1rem;
  color: var(--normal);
  line-height: 1.2;
}

.highlight {
  background-color: var(--highlight);
  padding: 0 4px;
  width: fit-content;
}

/* BLOG  */

.blogPostTitle {
  font-size: 2.25rem;
}

.blogPostDate {
  font-style: italic;
  color: var(--normal);
}

.blogPostParagraph {
  font-size: 1.375rem;
  line-height: 1.5;
}

.blogPostH1 {
  font-size: 1.875rem;
}

.blogPostH2 {
  font-size: 1.75rem;
}

.blogPostH3 {
  font-size: 1.625rem;
}

@media (max-width: 600px) {
  .p {
    font-size: 1rem;
  }

  .summary {
    font-size: 0.9rem;
  }
}
