.h1,
.h2,
.h3 {
  line-height: 1.3;
  letter-spacing: 1px;
}

.h1 strong,
.h2 strong,
.h3 strong,
.p strong {
  color: var(--accent);
}

.blogPostH1,
.blogPostH2,
.blogPostH3,
.blogPostTitle,
.blogPostParagraph,
.h1,
.h2,
.h3 {
  color: var(--accent);
  padding-bottom: 1.2rem;
}

.h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding-bottom: 1.875rem;
}

.h2 {
  font-size: 1.75rem;
  padding-bottom: 1.25rem;
}

.h3 {
  font-size: 1.6rem;
  padding-bottom: 0.938rem;
}

.p {
  line-height: 1.3;
  font-size: 1.3rem;
  color: var(--normal);
}

.tar {
  text-align: right;
}

/* BLOG  */

.blogPostTitle {
  font-size: 2.25rem;
}

.blogPostDate {
  font-style: italic;
  color: color-mix(in srgb, var(--accent) 50%, black 5%);
}

.blogPostParagraph {
  font-size: 1.375rem;
  line-height: 1.5;
}

.blogPostH1 {
  font-size: 1.875rem;
}

.blogPostH2 {
  font-size: 1.75rem;
}

.blogPostH3 {
  font-size: 1.625rem;
}
