/* =======================
  TYPOGRAPHY GLOBAL RULES
========================== */

/* Base line-height & letter-spacing */
.h1,
.h2,
.h3,
.aboutTitle,
.blogTitle,
.p,
.summary {
  line-height: 1.3;
}

.h1,
.h2,
.h3,
.aboutTitle,
.blogTitle,
.p {
  letter-spacing: 1px;
}

/* Font size */
.h1,
.aboutTitle,
.blogTitle {
  font-size: 1.8rem;
}

.h2 {
  font-size: 1.75rem;
}

.h3 {
  font-size: 1.6rem;
}

.p {
  font-size: 1.3rem;
}

.summary {
  font-size: 1.1rem;
}

.aboutParagraph {
  font-size: 1.1rem;
  line-height: 1.5;
}

.highlightText {
  color: var(--highlight) !important;
}

/* Color */
.h1,
.h2,
.h3 {
  color: var(--accent);
}

.aboutTitle,
.blogPostTitle,
.blogPostH1,
.blogPostH2,
.blogPostH3,
.blogPostParagraph,
.summary,
.p,
.aboutParagraph,
.blogPostDate {
  color: var(--normal);
}

.blogTitle {
  color: var(--normal);
  width: 100%;
  text-align: right;
  border-bottom: 2px solid var(--highlight);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--highlight);
}

/* Strong highlight */
.h1 strong,
.h2 strong,
.h3 strong,
.p strong {
  color: color-mix(in srgb, var(--highlight) 70%, var(--normal) 20%);
}

/* Padding & spacing */
.h1,
.aboutTitle {
  padding-bottom: 1.875rem;
}

.h2 {
  padding-bottom: 1.25rem;
}

.h3 {
  padding-bottom: 0.938rem;
}

.h1,
.h2,
.h3 {
  padding-bottom: 1.2rem;
}

.blogPostTitle,
.blogPostH1,
.blogPostH2,
.blogPostH3 {
  margin-bottom: 1rem;
}

/* Font weight */
.aboutTitle {
  font-weight: 400;
}

/* Alignments */
.tar {
  text-align: right;
}

/* Highlight span */
.highlight {
  background-color: var(--highlight);
  padding: 4px 8px;
  width: fit-content;
  color: var(--contrast);
}

/* h1 icon spacing */
.h1 > .icon {
  padding-right: 1rem;
}

/*************** BLOG STYLES */

.blogPostTitle {
  font-size: 2.25rem;

  display: flex;
  align-self: end;
}

.blogPostParagraph {
  font-size: 1.375rem;
  line-height: 1.5;
}

li .blogPostParagraph {
  max-width: 300px;
  margin-left: 0;
}

.blogPostH1 {
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
}

.blogPostH2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.blogPostH3 {
  font-size: 1.625rem;
  margin-bottom: 1.5rem;
}

.blogPostDate {
  font-style: italic;
  width: 100%;
}

/************** MEDIA QUERIES */

@media (max-width: 600px) {
  .p {
    font-size: 1rem;
  }

  .summary {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 400px) {
  .blogPostParagraph {
    margin-left: 1rem;
    width: auto;
  }

  li .blogPostParagraph {
    max-width: 100%;
  }
}
