.pageLayout {
  height: 100%;
  padding: 1rem;
}

.labelContainter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: end;
  row-gap: 10px;
}

@media screen and (min-width: 1024px) {
  .pageLayout {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .pageLayout {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1366px) {
  .pageLayout {
    width: 1200px;
  }
}
